<style>
    table, td, th {
        border: solid;
        border-width: thin;
        padding: 10px;
    }
</style>

<h3>Number of Submissions: @ViewData["Count"]</h3>
<h2>2/3 of the Average is: @ViewData["Results"]</h2>

<div class="row">
    <div class="col-xs-6">0</div><div class="col-xs-6" align="right">100</div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewData["Results"]"
         aria-valuemin="0" aria-valuemax="100" style="width:@ViewData["Results"]%">
        @ViewData["Results"]
    </div>
</div>

<div>
    <h2>Winner is @ViewData["Winner"]</h2>
</div>

<div>
    <table id="tblSubmissions" cellspacing="100">
        <thead>
            <tr><th>Player</th><th>Submitted Value</th></tr>
        </thead>
    </table>
</div>


<script>

    $(function () {
        var url = "/TwoThirdAverage/Submissions";
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: url
        }).done(function (ret) {
            $('#tblSubmissions').DataTable({
                data: ret,
                paging: false,
                columns: [
                    { "data": "name" },
                    { "data": "number" }
                ],
                order: [[1, "asc"]]
            });
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        });
    });

</script>